[D-BUS Service]
Name=id.waydro.Container
Exec=WAYLAND_DISPLAY=wayland-0 /usr/bin/waydroid container start
User=root
SystemdService=waydroid-container.service
